@import url('UAS.css');

.main-content h2 {
    color: #3949ab;
    border-bottom: 2px solid #c5cae9;
    padding-bottom: 5px;
}

form select {
    background-color: #f1f3f4;
    border: 1px solid #ccc;
}

form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form input[type="date"] {
    background-color: #f9f9f9;
}
